*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
	font-size: 87.5%;
    scrollbar-color: #313a3d #dbdbdb;
}

body {
    background: #dbdbdb;
    color: #313a3d;
    width: 720px;
    font-family: Helvetica, Arial;
    margin: 0 auto;
}

/* No additional spacing when theres superscript, like with footnote links. */
sup {
    vertical-align: top;
    position: relative;
    top: -0.3em;
    font-size: 0.75em;
}

header#banner {
    margin: 20px 0;
}

header#banner .site-logo {
    margin-right: 3px;
    height: 22px;
    width: auto;
}

header#banner a {
    color: #313a3d;
    text-decoration: none;
}

header#banner a:hover {
    text-decoration: underline;
}

header#banner h2 {
    display: inline;
    margin: 0 8px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 6px;
}

header#banner nav ul li a {
    color: #454545;
}

main#content a {
    color: #0040af;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h1 {
    font-size: 1.5rem;
}
main#content h2 {
    font-size: 1.4rem;
}
main#content h3 {
    font-size: 1.3rem;
}
main#content h4 {
    font-size: 1.2rem;
}
main#content h4 {
    font-size: 1.1rem;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 0.5rem;
}

main#content p {
    color: #394548;
    margin: 16px 0;
    line-height: 1.4;
    overflow-wrap: break-word;
	text-align: justify;
	hyphens: auto;
}

main#content li {
    color: #394548;
    line-height: 1.4;
    overflow-wrap: break-word;
	text-align: justify;
	hyphens: auto;
}

main#content ul {
    color: #394548;
    line-height: 1.4;
    overflow-wrap: break-word;
	text-align: justify;
	hyphens: auto;
}

main#content hr {
    background: #394548;
	margin-left: -5%;
    height: 1px;
	width: 15%;
    border: 0;
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.8rem;
    color: #767676;
    margin-left: 10px;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    line-height: 1.15;
}

/* The date below the post header */
main#content header#post-header > div {
    display: block;
    font-size: 0.8rem;
    color: #767676;
	margin: 0.5rem 0;
}

main#content #toc {
    line-height: 26px;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 0;
    background-color: rgba(0, 0, 0, 0.05);
}

main#content #toc h4 {
    color: #3d3d3d;
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul,
main#content #toc nav#TableOfContents > ol {
    margin-left: -15px;
}

main#content #toc ul,
main#content #toc ol {
    margin: 0;
    padding: 0 0 0 30px;
}

main#content #toc ul {
    list-style-type: decimal;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

main#content code:not(pre > code) {
    background-color: #c0c0c0;
    border: 1px solid #808080;
    font-size: 0.8rem;
    padding: 2px 4px;
    border-radius: 2px;
}

main#content .footnotes {
    font-size: 0.8rem;
}

footer#footer {
    font-size: 0.8rem;
    font-weight: 400;
    color: #737373;
    margin: 40px 0;
}
